<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnintent">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/innerdisk"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/innerdisk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".services.MusicService" />

        <activity
            android:name=".Activities.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MusicActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="my_action" />

                <category android:name="my_category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- <intent-filter> -->


            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->


            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".Activities.LocalActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activities.RecentActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.LovedActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.LockScreenActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>